*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
body > *{
    padding: 10px;
}

/* contains theme options */
#theme-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

#bgm {
  position: absolute;
  top: 0;
  right: 0;
}

.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 99;
}

.dropdown-content div {
  color: black;
  padding: 12px 16px;
  display: block;
  cursor: pointer;
}

.dropdown div:hover {background-color: #ddd;}

.grid-container{
    display: grid;
    grid-template-columns: repeat(6, 150px);
    grid-template-rows: repeat(4, 150px);
    grid-gap: 10px;
}

.initial-card{
    height: 100%;
    width: 100%;
    border: 1px solid black;
    border-radius: 5%;
}

.card{
    height: 100%;
    width: 100%;
    /* border: 1px solid black; */
    /* background-size: cover;
    background-position: center; */
}

/* Reference from https://www.w3schools.com/howto/howto_css_flip_card.asp */
/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  /* .card:hover .flip-card-inner {
    transform: rotateY(180deg);
  } */
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-size: cover;
    background-position: center;
    border-radius: 5px;
  }
  
  /* Style the back side */
  .flip-card-back {
    transform: rotateY(180deg);
    background-size: cover;
    background-position: center;
    border-radius: 5px;
  }

/* Referenced from https://jsfiddle.net/james2doyle/qsQun/  */
.flip-card-inner.flipped {
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}